.button-list {
  &__item {
    margin-right: 8px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: $secondary-text-color;
    background: $secondary-color-bg;
    cursor: pointer;
    text-align: center;
    padding: 6px 22px;
    transition: box-shadow $transition, background-color $transition,
      color 250ms $transition;
    border: none;
  }
  &__button:hover,
  &__button:focus {
    background-color: $accent-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .button-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &__item:nth-child(n + 4) {
      margin-top: 15px;
    }
  }
}
