.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  background-color: $white-color;
  transition: transform $transition;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle {
  height: 40px;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
}
.mobile-close,
.mobile-open {
  background-color: #fff;
  fill: $black-color;
  transition: $transition;
}
.menu-toggle:hover .mobile-open,
.menu-toggle:focus .mobile-open,
.menu-toggle:hover .mobile-close,
.menu-toggle:focus .mobile-close {
  fill: $accent-color;
}

.site-nav {
  padding-left: 40px;
  padding-top: 48px;

  &__item + &__item {
    margin-top: 32px;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    color: $secondary-text-color;
    display: block;

    transition: color $transition;
  }
  &__link:focus,
  &__link:hover {
    color: $accent-color;
  }
  &__link.current {
    color: $accent-color;
  }
}

.nav-contacts {
  padding-left: 40px;
  margin-top: 302px;
  display: flex;
  flex-direction: column-reverse;

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    color: $primary-text-color;
    transition: color $transition;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__item + &__item {
    margin-top: 32px;
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accent-color;
  }
}
