@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts {
    display: flex;
    flex-direction: column;
    &__item + &__item {
      margin-top: 10px;
    }
  }
}
@media screen and (min-width: 768px) {
  .nav-contacts {
    margin-left: auto;
    &__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.67;
      color: $primary-text-color;
      transition: color $transition;
    }
    &__link:hover,
    &__link:focus {
      color: $accent-color;
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
      fill: $accent-color;
    }
    &__icon {
      margin-right: 8px;
    }
  }
}

@media screen and(min-width: 1200px) {
  .nav-contacts {
    display: flex;
    align-items: center;

    &__item + &__item {
      margin-left: 30px;
    }
    &__link {
      display: flex;
      align-items: center;
    }
  }
}
