.section-preference {
  padding-bottom: 0;
}

.preference {
  &__item {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  &__item:nth-child(4n) {
    margin-bottom: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $secondary-text-color;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
  }

  &__icon {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: $secondary-color-bg;
    border-radius: 4px;
  }
}
