.section-work {
  @media screen and(max-width: 1199px) {
    display: none;
  }
}

@media screen and(min-width: 1200px) {
  .work {
    display: flex;

    &__item {
      margin-right: 30px;
      position: relative;
    }
    &__item:nth-child(3n) {
      margin-right: 0;
    }

    &__title {
      position: absolute;
      bottom: 0;
      display: block;
      padding: 27px 80px;

      width: 370px;
      color: $white-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      height: 70px;
      text-align: center;
      text-transform: uppercase;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
  .section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    color: $secondary-text-color;
  }
}
